/*REMEMBER: NO ID'S AND CLASSES AND ONLY USE SELECTORS*/

li:nth-child(even) {
	color: green;
}

 li:nth-child(3) {
 	background-color: lightblue;
 }

li:first-of-type {
	border-top: 1px solid green;
}

li:last-of-type {
	border-bottom: 5px dotted blue;
}

li:nth-child(5) {
	text-decoration: none;
}

li:nth-child(3) > * {
	color: red;
}

li:nth-child(5) > * {
	color: red;
}

li:nth-child(5) > *:hover {
	background-color: grey;
}

li:nth-child(2),
li:nth-child(5) {
	list-style-type: none;
}

input[type="text"]:focus {
  background-color: grey;
}
input[placeholder="first name"]:focus {
	color: lightgreen;
}
input[placeholder="last name"]:focus {
	color: lightblue;
}
input[type="password"]:focus {
	color: white;
}
input[type="email"]:focus {
	color: purple;
	background-color: yellow;
}
input[type="submit"]:hover {
	color:red;
}









